<div class="ui fluid category search">
  <div class="ui icon input">
    {{input value=searchQuery class="prompt" type="text" placeholder="Search campsites..." enter="sendSearch"}}
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
