{{input value=searchQuery}}
<button {{action 'search'}}>Search</button>
<table>
  <tbody>
    {{#each model as |campground|}}
    <tr>
      <td>{{#link-to 'sites' campground.id}}{{campground.name}}{{/link-to}}</td>
      <td><img src="http://reserveamerica.com{{campground.photoSmall}}"/></td>
    </tr>
    {{/each}}
  </tbody>
</table>
