{{!-- <div class="map-bg" id="map-bg"></div>
<div class="map-icons"></div> --}}

<div id="parkmap">

</div>

{{!-- {{#leaflet-map lat=lat lng=lng zoom=zoom id="parkmap"}}
  {{#div-overlay-layer id="bg"}}{{/div-overlay-layer}}

{{/leaflet-map}} --}}
