<div class="map-info-box">
  {{#if selectedSite}}
    <div class="image">
      <img class="ui fluid image" src="http://reserveamerica.com{{selectedSite.photoLarge}}">
    </div>
    <h4>{{selectedSite._Site}}</h4>
    <p class="description">
      {{selectedSite._SiteType}}
    </p>
    {{/if}}
</div>
<div style="position:absolute; top:0; right:0; bottom:0; width:75%">
  <div id="parkmap">

  </div>
</div>
